.stage-cube-cont {
    animation: fadeIn backwards 3s;
    animation-delay: 2s;
    position: fixed; /* Changed from relative to fixed */
    top: 60%; /* Center vertically */
    left: 70%; /* Center horizontally */
    // transform: translate(-50%, -50%); /* Adjust to exactly center the element */
    overflow: visible;
    opacity: 0.6;
    z-index: 3;
}


.class-list a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
    text-align: center;
}

.text-zone h3::before {
    content: ""; // This is necessary for the pseudo-element to work
    display: block;
    width: 75%; // Or adjust to your preference
    height: 2px; // Thickness of the line
    background-color: #000; // Color of the line
    margin-bottom: 10px; // Space between the line and the h3 text, adjust as needed
  }

.cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 200px 200px 0; /* Adjusted to match new size */
    margin-left: calc(50% - 100px); /* Adjust this value as needed to center */

    div {
        position: absolute;
        width: 400px; /* Increased size */
        height: 400px; /* Increased size */
        border: 1px solid #ccc;
        background: rgba(255, 255, 255, 0.4);
        font-size: 300px; /* Adjust if needed */
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px #ffffff;
    }

    /* Adjust transform translateZ to match new depth */
    .face1 {
        transform: translateZ(200px);
    }
    .face2 {
        transform: rotateY(90deg) translateZ(200px);
    }
    .face3 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(200px);
    }
    .face4 {
        transform: rotateY(180deg) rotateZ(90deg) translateZ(200px);
    }
    .face5 {
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(200px);
    }
    .face6 {
        transform: rotateX(-90deg) translateZ(200px);
    }
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes spincube {
    from,
    to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
        transform: rotateY(-90deg);
    }
    33% {
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
        transform: rotateY(-270deg) rotateZ(90deg);
    }
    83% {
        transform: rotateX(90deg);
    }
    
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
