
.page {
    width: 100%;
    height: 100%;
    position: absolute;

}

.container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 1;
    top: 5%;
    margin-left: 100px;
    z-index: 4;
    transform-style: preserve-3d;

}

.about-page {

    left: 00px;
    
    .text-zone {

        overflow: visible;
        border-radius: 10%;
        animation: fadeIn 2s backwards;
        animation-delay: 1s;
        z-index: 1;
        top: 0px;
        width: 60%;
        display: table-cell;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        // padding: 30px;
        // padding-left: 0px;
        


        h1 {
            font-size: 75px;
            font-family: 'Coolvetica';
            margin-top: 0;
            position: relative;
            text-align: left;
            animation: fadeIn 2s backwards;
            width: 100%;
            align-self: center;
            margin-left: 100px;

        }

        h2 {
            font-size: 25px;
            font-family: 'Coolvetica';
            margin-top: 0;
            position: relative;
            text-align: left;
            animation: fadeIn 2s backwards;
            width: 100%;
            align-self: center;
            margin-left: 100px;
        }

        h3 {
            font-size: 25px;
            font-family: 'Coolvetica';
            margin-top: 0;
            position: relative;
            text-align: left;
            animation: fadeIn 2s backwards;
            width: 100%;
            align-self: center;
            margin-left: 100px;
            color: #000;
            letter-spacing: 2px;
            font-weight: 400;
            margin-bottom: 0px;
        }

        ul {
            
            display: grid;
            grid-template-columns: repeat(2, 1fr); // 3 columns
            grid-gap: 0px; // Space between tiles
            width: 50%;
            margin-top: 0px; // Space below the h1 tag
            margin-bottom: 15px;
            //list-style: ;
            padding: 0px;
            border-radius: 8%;
            align-self: left;
            margin-left: 75px;
            

            li {
                
                //background-color: #ededed; // Light grey background for each tile

                padding: 15px;
                //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Subtle shadow for depth
                transition: transform 0.3s ease;
                font-size: 18px;
                z-index: 999;
                color: #000;
                padding: 2px;
                margin-left: 20px;
                

                &:hover {
                    transform: translateY(-5px); // Slight lift effect on hover
                }


                animation: fadeIn 1s ease forwards;
                opacity: 0; // Start with the tile being invisible

                &:nth-child(1) { animation-delay: 1.2s; }
                &:nth-child(2) { animation-delay: 1.4s; }
                &:nth-child(3) { animation-delay: 1.6s; }
                &:nth-child(4) { animation-delay: 1.8s; }
                &:nth-child(5) { animation-delay: 2.0s; }
                &:nth-child(6) { animation-delay: 2.2s; }
                &:nth-child(7) { animation-delay: 2.4s; }
                &:nth-child(8) { animation-delay: 2.6s; }
                &:nth-child(9) { animation-delay: 2.8s; }
            }
        }


        p {
            text-align: left;
            color: #000000;
            font-family: 'Coolvetica';
            font-weight: 100;
            animation: fadeIn 3s backwards;
            animation-delay: 1s;
            letter-spacing: 2px;
            font-size: 18px;
            max-width: 100%;
            opacity: 1;
            animation: fadeIn 2s backwards;
            padding: 0px;
            line-height: 1.5;
            margin-left: 60px;
            align-self: left;
            font-weight: 400;

        }
    }

}

@keyframes fadeInListItem {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-page {

    left: 0px;

    .text-zone {


        animation: fadeIn 2s backwards;
        animation-delay: 1s;
        z-index: -1;
        position: absolute;
        top: 0px;
        width: 55%;
        vertical-align: middle;
        // display: table-cell;
        min-height: 100%;
        // background-color: rgba(63, 63, 63, 0.4);
        padding: 10px;



        h1 {
            font-size: 75px;
            font-family: 'Coolvetica';
            margin-top: 0;
            position: relative;
            margin-bottom: 0px;
            left: 0px;
            animation: fadeIn 2s backwards;
            // background-color: rgb(0, 0, 0);
            padding: 15px;

        }

        p {
            // font-style: 15px;
            color: #000000;
            font-family: 'Coolvetica';
            font-weight: 300;
            font-size: 20px;
            letter-spacing: 2px;
            max-width: 650px;
            width: 80%;
            opacity: 1;
            animation: fadeIn 2s backwards;
            padding-bottom: 50px;
            line-height: 1.5;



            &:nth-of-type(1) {
                animation-delay: 1.2s;
            }

            &:nth-of-type(2) {
                animation-delay: 1.5s;
            }

            &:nth-of-type(3) {
                animation-delay: 1.7s;
            }
        }
    }

    .text-animate-hover {
        &:hover {
            color: #a8a8a8;

        }
    }
}

