.logo-container {

    opacity: 0;

    .solid-logo {
        position: fixed;
        top: 0px;
        left: 500px;
        margin: 0px;
        width: 400px;
        height: auto;
        opacity: 1;
        z-index: 1;

    }

}
