.contact-form {
    width: 100%;
    margin-top: 20px;
    
    

    ul {
        
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        overflow: hidden;
        display: block;
        opacity: 0;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
        clear: both;
        

    }

    li.half {
        
        width: 60%;
    }

    input[type='text'],
    input[type='email'] {
        margin-bottom: 10px;
        height: 25px;
        background: #686868;
        
    }


    
    input[type='text']::placeholder,
    input[type='email']::placeholder,
    input[type='submit']::placeholder,
    textarea::placeholder {
        color: #ffffff; // Change this color to your desired placeholder color
    }
    
    


}