.projects-page {
    padding: 20px;
    display: flex;
    flex-direction: column; // Adjust to column layout
    align-items: center; // Center-align items
    left: 150px;

    p{
        color: #000000;
        font-family: 'Coolvetica';
        font-weight: 100;
        animation: fadeIn 3s backwards;
        animation-delay: 2s;
        letter-spacing: 3px;
        font-size: 22px;
    }



}

// Adjusted for a vertical layout
.projects-grid {
    width: 60%;
    margin-top: 20px;

    // Use margin for separation instead of grid gap
    > * + * {
        margin-top: 20px;
    }
}

.project-tile {
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    font-family: 'Coolvetica';
    font-size: 25px;
    opacity: 1; // Adjusted for direct visibility without fading in
    border-bottom: 4px solid #000000; // Add a bottom border for separation

    p {
        font-family: 'Coolvetica';
        font-size: 16px; // Custom font size for project descriptions
        color: #000000; // Custom text color for project descriptions
        letter-spacing: 1px;
    }

    &:last-child {
        border-bottom: none; // Remove bottom border for the last item
    }

    &:hover {
        transform: translateY(-5px);
    }

    h3 {
        margin-top: 0;
    }

    animation: fadeIn 1s ease forwards;
    opacity: 0; // Start with the tile being invisible

    &:nth-child(1) { animation-delay: 2.2s; }
    &:nth-child(2) { animation-delay: 2.4s; }
    &:nth-child(3) { animation-delay: 2.6s; }
    &:nth-child(4) { animation-delay: 2.8s; }
    &:nth-child(5) { animation-delay: 3s; }
    &:nth-child(6) { animation-delay: 3.2s; }
    &:nth-child(7) { animation-delay: 3.4s; }

    
}

.project-link {
    text-decoration: none; // Removes underline from links
    color: inherit; // Keeps the text color consistent with your design
    display: block; // Ensures the link covers the entire tile area for clicking
}