.home-page {

    .text-zone {
        position: absolute;
        left: 20%;
        top: 60%;
        transform: translateY(-50%);
        width: 60%;
        max-height: 90%;
    }


}

h1 {

    color: #ffffff;
    font-size: 53px;
    font-family: 'Coolvetica';
    font-weight: 400;
    animation: fadeIn 2s backwards;

}

h2 {
    color: #e6e6e6;
    font-family: 'Coolvetica';
    font-weight: 100;
    animation: fadeIn 2s backwards;
    animation-delay: 1s;
    letter-spacing: 3px;
    font-size: 15px;

    .flat-button {
        color: #adadad;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #ffffff;
        margin-top: 25px;
        float: left;

        &:hover {
            background: #ffffff;
            color: #000000;
            animation: fadeInBackground 0.6s forwards;
        }
    
    }

}

@keyframes fadeInBackground {
    from {
        background: transparent; // Set to the initial background color
    }
    to {
        background: #ffffff; // Set to the desired background color
    }
}


